/* Page layout styles */


body {
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace ;
	margin: 0;
	padding: 0;
	text-align: center;
}

a {
	color: white;
}
header {
	background: #4863A0;
	color: #FFFFFF;
}

header h2 {
	font-size: 19px;
	font-weight: normal;
	padding: 25px;
}

h3 {
	font-size: 19px;
        font-weight: normal;
        padding: 25px;
	text-align: left;
}

.container {
	width: 80%;
	max-width: 900px;
	margin: 20px auto;
}

.contr, footer {
	background-color: #728FCE;
	color: #FFFFFF;
	padding: 10px 0;
	text-align: center;
	border-radius: 10px 10px 0 0;
	margin-bottom: 0;
}

footer {
	margin-top: 0;
	border-radius: 0 0 10px 10px;
	font-size: 8px;
}

.upload_form_cont {
	border: 1px solid transparent;
	background: #fff;
	color: #000;
}

.info {
	background: #eee;
	border: 1px solid #ddd;
	font-weight: bold;
	margin: 20px;
}

.info > div {
	padding: 10px 15px;
}

.info > h2 {
	padding: 0 15px;
}

#dropArea {
	background: #ddd;
	border: 3px dashed #000;
	font-size: 32px;
	height: 50px;
	line-height: 50px;
	margin: 10px;
	text-align: center;
}

#dropArea.hover {
	background: #ccc;
}

#result .success, #result .failure {
	font-size: 9px;
	border-radius: 5px;
}

#result .success {
	background-color: #77fc9f;
}

#result .failure {
	background-color: #fcc577;
}
